body{
    background-color:#374151;
}
.container{

    background-color:#111827;
    width:80%;
    margin:0 auto;
    border-radius: 30px;
    padding:2em 0;
}
.confl{
    display:flex;
    justify-content:space-around;
  
}
.title{
    font-family: verdana ,sans-serif;
    color:EEEEEE;
    font-size: 3rem;
    margin:0;
    
}
@font-face {
    font-family: cur;
    src: url(Cursed_Timer_ULiL/CursedTimerULiL.ttf);
}

.rslt{
    color:#F94F6D;
    font-family:cur;
    font-size: 6rem;
   padding: 0.5em;
   background-color:black;
   margin:1rem 0;
   text-align: center;
}

button{
    width:2rem;
    margin:0 0.25rem;
    height:2rem;
    font-family: cur;
    cursor:pointer;
}
.btn-con{
    margin:0 auto;
    display:flex;
    justify-content: space-between;
}
h1{
    color:#FFFFFF;
    text-align: center;
    font-family: lora;
    font-size:3rem;
}

#new-game{
    display: block;
   
    width:10em;
    font-family: cursive;
}
.add{
    background-color:transparent;
    border:1px solid #FFFFFF;
    color:#FFFFFF;
    border-radius: 5px;
}

@media (max-width: 900px){
    .confl{
        display:flex;
        flex-direction: column;
        justify-content:space-between;
        gap:2em;
        
        
      
    }
    .title{
        font-size:2em;
        text-align:center;
    }
    h1{
        font-size:3em;
    }
    #btns{
        display:flex;
        flex-direction: column;
        justify-content:space-between;
        gap:2em;

    }
    .li{
        display: block;
    }
}
input{
    padding: 0.25em;
    border-radius: 0.75em;
    margin-right:  8em;
    margin-bottom:2em;
    margin-left:0.5em;
    width: 20em;
    font-family: verdana ,sans-serif;
}
label{
    margin-left: 8em;
    font-size:larger;
    font-weight:bold;
    font-family: verdana ,sans-serif;
    color:#FFFFFF;
}
#modif-name{
    text-align: center;
    display: none;
    margin-bottom:4em;
    margin-top: 4em;

    
}
#new-teams{
    display: block;
    
    width:10em;
    font-family: cursive;

}
#btns{
    margin: 4em auto;
    width:80%;
    display: flex;
    /*justify-content: center;*/
    justify-content: space-evenly;
    gap: 3em;
}

#chng{
    display: block;
   
    width:10em;
    font-family: cursive;
    margin: 0 auto;
}
@media(min-width: 900px){
.inside{
    width: 25%;
    text-align: center;
}}
.inside{
    overflow: hidden;
}